* {
  font-family: 'Courier New', Courier, monospace;
}

button {
  margin: 0.5rem 0.5rem;
}

body {
  background-color: #444444;
}

div.card {
  margin: 0.5rem 0;
  background-color: #d8d8d8;
}

img#footerImage {
  position: relative;
  left: 50%;
}

footer {
  width: 100%;
  background-color: #888888;
}

header {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #111111;
  background-color: #888888;
}

a {
  color: #111111;
}

a:hover {
  color: #777777;
}

.modal-header {
  background-color: #555555;
  color: #999999;
}

.modal-body {
  background-color: #333333;
  color: #999999;
}

.modal-footer {
  background-color: #555555;
}